# Gradle
.gradle/
/build/
app/build/
**/build/

# Local config
local.properties

# Android Studio / IntelliJ IDEA
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/.name
.idea/vcs.xml

# Native build
.externalNativeBuild/
.cxx/

# Captures / profiling
/captures/

# macOS
.DS_Store

# Claude Code
CLAUDE.md
